html{
    width:100%;
    height:100%;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

a{
    color:#6dd0f2;
}
a:hover{
    color:#6dd0f2;
}

img{
    width:60px;
    position: absolute;
    top:0;
    left:0;
    z-index: 5;
    margin:20px;
}

#activeLogo{
    display: none;
}

#threeDiv {
    width:100%;
    height:100%;
    padding:0;
    position: absolute;
}

#controls{
    position: absolute;
    top: 0;
    right: 100px;
    z-index: 3;
    width: 330px;
        padding: 20px;
    text-align: right;
}

.scaleBars{
    width: 100px;
    position: absolute;
    top:0;
    right:0;
    /*background: red;*/
    height:100%;
    padding: 20px 0 50px 0;
    line-height: 0;
    padding-left: 10px;
}
.scaleBars>div{
    width:100%;
    height:4.7%;
}
.colorSwatch{
    width:10px;
    height:100%;
    background: black;
    display: inline-block;
}
#tension-compressionScale .colorSwatch{
    width:5px;
}
.scaleBars>div>span{
    margin-left: 7px;
    top: -25%;
    position: relative;
}

#FLContainer{
    margin-top: 15px;
display: inline-block;
}

#controls>.flat-slider{
    width: 100px;
    display: inline-block;
    margin-right: 10px;
}

input.form-control {
    width: 90px;
    display: inline-block;
}

#unsolvable{
    position: absolute;
    padding-right: 430px;
    padding-left: 110px;
    width: 100%;
    display:none;
}
#unsolvable>div{
    margin: 0 auto;
    width: 400px;
    text-align: center;
    padding-top: 200px;
    font-size: 30pt;
}

#controls>input.form-control{
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-control:focus{
    border-color: #6dd0f2;
}

#aboutModal{
    margin-bottom: 15px;
}

#about{
    margin-bottom: 10px;
}

.btn-default{
    background: #d3d7db;
}

#viewModeSelection{
    text-align: left;
    padding: 20px;
    padding-left: 100px;
}

#viewModeSelection>input{
    margin: 10px 10px 10px 0;
}

#moreInfo{
    display: none;
    position: absolute;
    z-index: 10;
    background: white;
    padding:5px 10px;
}

.label-slider{
    margin-right: 10px;
}

#lengthControl{
    background: rgba(1,1,1,0);
    width: 100%;
    z-index: 4;
    /*margin: 0 auto;*/
    position: absolute;
    bottom:0;
    padding-right: 430px;
    padding-left: 110px;
}

#hControl{
    background: rgba(1,1,1,0);
    height: 100%;
    z-index: 4;
    /*margin: 0 auto;*/
    position: absolute;
    left:0;
}

#lengthControl>div{
    margin: 0 auto;
    width: 250px;
    text-align:center;
    padding-bottom: 10px;
}

#hControl>div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*height: 250px;*/
    text-align:center;
    width:200px;
}

#h{
    left: -20px;
    height: 200px;
}

.rotate {
    z-index: 10;
        position: absolute;
    left: -70px;
    width: 220px;
    padding-left: 43px;
    top: 50%;
        display: inline-block;

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

#hValInput:focus{
    transform: translate(0, 20px) rotate(90deg);
    -webkit-transform: translate(0, 20px) rotate(90deg);
    -moz-transform: translate(0, 20px) rotate(90deg);
    -o-transform: translate(0, 20px) rotate(90deg);
}



.slider.slider-horizontal {
    width: 200px;
    margin: 0;
    padding: 20px;
    top: 10px;
}

.slider.slider-vertical {
    height: 200px;
    margin: 0;
    padding: 20px;
}

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0;
}

.flat-slider.ui-slider {
  border: 0;
  background: #ffffff;
  border-radius: 7px;
}

.flat-slider.ui-slider-horizontal {
  height: 6px;
}

.flat-slider.ui-slider-vertical {
  width: 6px;
}

.flat-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #6dd0f2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
    opacity: 0.8;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -10px;
    opacity: 0.8;
}

.flat-slider .ui-slider-handle:hover {
  opacity: 0.7;
}

.flat-slider .ui-slider-handle:focus { outline: none; }


.flat-slider{
    vertical-align: middle;
    display: inline-block;
    width: 200px;
    position: relative;
    margin: 10px 0 10px 0;
    /*padding: 4px 0;*/
}

.modal-content{
    border-radius: 0;
}
.modal-body{
    padding: 20px 35px;
}

span.modal-close{
    display: none;
}

.checkbox input.custom-checkbox[type="checkbox"]:checked + .icons .icon-checked, .radio input.custom-checkbox[type="checkbox"]:checked + .icons .icon-checked, .checkbox input.custom-radio[type="radio"]:checked + .icons .icon-checked, .radio input.custom-radio[type="radio"]:checked + .icons .icon-checked {
    color: #6dd0f2;
}

.radio .icon-checked{
    transition-duration: 0s;
}

.radio .icon-unchecked{
    transition-duration: 0s;
}